@model IEnumerable<OrganizationTableViewModel>

<h1>Управление организациями</h1>

<div class="filter">
    <input type="text" class="filter__search" placeholder="Поиск">
    <button class="button button-secondary">Применить</button>
</div>
<table class="table">
    <tr class="table__header">
        <th>Id</th>
        <th>Подрядная организация</th>
        <th>Представитель</th>
        <th>Телефон</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var organization in Model)
    {
        <tr>
            <td>@organization.Id</td>
            <td><a asp-controller="Organization" asp-action="Details" asp-route-organizationId="@organization.Id">@organization.Name</a></td>

            @if (organization.UserName == null)
            {
                <td><a asp-controller="Organization" asp-action="EditOrganization" asp-route-id="@organization.Id">Добавить представителя</a></td>
                <td></td>
            }
            else
            {
                <td>@organization.UserName</td>
                <td>@organization.UserPhone</td>
            }

            <td><a asp-controller="Organization" asp-action="EditOrganization" asp-route-id="@organization.Id">Редактировать</a></td>
            <td><a class="danger" asp-controller="Organization" asp-action="RemoveOrganization" asp-route-id="@organization.Id">Удалить</a></td>
        </tr>
    }
</table>
<a class="link-button button-primary mt-30" asp-controller="Organization" asp-action="AddOrganization">Добавить организацию</a>
