
@model PostRoleViewModel

<h1>Редактирование роли</h1>

<form asp-action="UpdateRole" asp-controller="Account" asp-anti-forgery="true">

    <div class="input">
        <label asp-for="Name">
            Имя роли:
            <input type="text" asp-for="Name" value="@Model.Name" />
        </label>
    </div>
    <input type="text" asp-for="OldName" hidden="hidden" value="@Model.OldName" />
    <div class="checkbox">
        <label class="main-label" asp-for="SubsystemAccesses">
            Роль:
            <div class="checkbox__wrapper">
                @for (var i = 0; i < Model.SubsystemAccesses.Count; i++)
                {
                    <label asp-for="SubsystemAccesses[i].IsOptionSelected">
                        <input type="checkbox" asp-for="SubsystemAccesses[i].IsOptionSelected" checked="@Model.SubsystemAccesses[i].IsOptionSelected">
                        @Model.SubsystemAccesses[i].Name
                        <input type="text" asp-for="SubsystemAccesses[i].Name" value="@Model.SubsystemAccesses[i].Name" hidden />
                    </label>
                }
            </div>
        </label>
    </div>

    <div class="ml-120 mb-20 danger" asp-validation-summary="All">
    </div>

    <button type="submit" class="button button-primary mt-10 ml-120">Сохранить</button>
</form>
