@model AdminViewModel

<div class="d-flex jc-space-btw">
    <h1>Администрирование</h1>
    <h3><a asp-controller="Admin" asp-action="EventLog">Журнал событий системы</a></h3>
</div>

<h2>Управление пользователями</h2>
<div class="filter">
    <input type="text" class="filter__search" placeholder="Поиск">
    <button class="button button-secondary">Применить</button>
</div>
<table class="table">
    <tr class="table__header">
        <th>ID</th>
        <th>Email</th>
        <th>ФИО</th>
        <th>Роли</th>
        <th>Доступы</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var user in Model.UserViewModels)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>@user.Name</td>
            <td>@user.Roles</td>
            <td>@user.Accesses</td>
            <td><a asp-controller="Account" asp-action="Edit" asp-route-id="@user.Id">Редактировать</a></td>
            <td><a class="danger" asp-controller="Account" asp-action="Delete" asp-route-id="@user.Id">Удалить</a></td>
        </tr>
    }
</table>
<a class="link-button button-primary mt-30 mb-40" asp-controller="Account" asp-action="Registration">Зарегистрировать пользователя</a>

<h2>Управление ролями</h2>
<div class="filter">
    <input type="text" class="filter__search" placeholder="Поиск">
    <button class="button button-secondary">Применить</button>
</div>
<table class="table">
    <tr class="table__header">
        <th>Роль</th>
        <th>Доступные системы</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var role in Model.RoleViewModels)
    {
        <tr>
            <td>@role.Name</td>
            <td>@role.AccessibleSubsystems</td>
            <td><a asp-controller="Account" asp-action="UpdateRole" asp-route-name="@role.Name">Редактировать</a></td>
            <td><a class="danger" asp-controller="Account" asp-action="DeleteRole" asp-route-name="@role.Name">Удалить</a></td>
        </tr>
    }
</table>
<a class="link-button button-primary mt-30 mb-40" asp-controller="Account" asp-action="AddRole">Добавить роль</a>