
@{
    ViewData["Title"] = "Администрирование";
}

@model IEnumerable<UserViewModel>

<h1 class="display-4 mb-2">Подсистема «Администрирование»</h1>
<h2 class="mb-1">Управление пользователями</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>ФИО</th>
        <th>Роли</th>
        <th>Доступы</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>@user.Name</td>
            <td>@user.Roles</td>
            <td>@user.Accesses</td>
            <td><a asp-controller="Account" asp-action="Edit" asp-route-id="@user.Id">Редактировать</a></td>
            <td><a asp-controller="Account" asp-action="Delete" asp-route-id="@user.Id">Удалить</a></td>
        </tr>
    }
</table>

<a class="btn btn-outline-primary" asp-controller="Account" asp-action="Registration">Зарегистрировать пользователя</a>